@import './variables';

.mdcx-chip {
    background-color: $chip-bg-color;
    border: 0;
    border-radius: $chip-height / 2;
    color: $text-color-primary;
    display: inline-block;
    font-size: 0;
    height: $chip-height;
    line-height: $chip-height;
    margin: 2px 0;
    padding: 0 12px;
    position: relative;
    white-space: nowrap;
  
    &__text {
      display: inline-block;
      font-size: $chip-font-size;
      margin-left: 30px;
      vertical-align: middle;i {
        left: 4px;
        position: absolute;
        top: 4px;
  
      }
    }&__action {
      background: transparent;
      border: 0;
      color: $text-color-primary;
      cursor: pointer;
      display: inline-block;
      font-size: $chip-font-size;
      height: 24px;
      margin: 0 0 0 4px;
      opacity: 0.54;
      outline: none;
      overflow: hidden;
      padding: 0;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      width: 24px;
     }&__contact {
      border-radius: $chip-height / 2;
      display: inline-block;
      font-size: 18px;
      height: $chip-height;
      line-height: 32px;
      margin-right: 8px;
      overflow: hidden;
      text-align: center;
      vertical-align: middle;
      width: $chip-height;
       }&:focus {
      outline: 0;
       }&:active {
      background-color: $chip-bg-active-color;
       }&--deletable {
      padding-right: 4px;
       }&--contact {
      padding-left: 0;
       }
   }
   